.err {
  color: red;
  font-weight: bold;
  margin: 0;
}

#modal-content {
  border-radius: 15px;
  position: relative;
  bottom: 100px;
  width: 40%;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.login-form > h1 {
  text-align: center;
  margin-top: 0;
}

.login-form > form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-form input {
  background-color: #d3e2fa;
}

.login-form button {
  margin-top: 10px;
  background-color: #FF5A5F;
  box-shadow: 3px 3px 2px black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;

}

.login-form button:disabled {
  background-color: white;
  border: 1px solid gray;
  color: gray;
  box-shadow: 3px 3px 2px gray;
}
